FAI_HERMES_PLANNING_ENABLED=false
FAI_HERMES_PLANNING_SOCKET=/run/fai-hermes-planner/planner.sock
FAI_HERMES_PLANNING_TOKEN_FILE=/var/lib/fai-hermes-planner/credentials/planning-token
FAI_HERMES_PLANNING_MODEL_CREDENTIAL_FILE=/var/lib/fai-hermes-planner/credentials/model-credential
FAI_HERMES_PLANNING_EXPECTED_CLIENT_UID=1000
FCP_HERMES_CONFIG_SHA256=REPLACE_WITH_PLANNER_CONFIG_SHA256
PATH=/usr/bin:/bin
